django==3.2.15
django-debug-toolbar==3.2.1
django-phonenumber-field==7.3.0
djangorestframework==3.14.0
environs[django]==9.3.2
geopy==2.4.1
gunicorn==22.0.0
phonenumberslite==8.13.30
Pillow==10.3.0
psycopg2==2.9.9
requests==2.31.0
rollbar==1.0.0
